
.reg-form {
  width: 100%;
  min-width: 360px;
  max-width: 460px;
  margin: 0 auto;
  padding: 40px 30px;
  border-radius: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 12px 24px rgba(44, 39, 56, 0.02),
              0 32px 64px rgba(44, 39, 56, 0.04);
}

.header-form {
  margin-bottom: 50px;
}

.header-form_title {
  color: #2C2738;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 9px;
}

.header-form_description {
  color: #2C2738;
  font-size: 16px;
  line-height: 22px;
}

.link {
  color: #0880AE;
  text-decoration: none;
}

.header-form_description .link {
  margin-left: 6px;
}

.conditions {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.conditions span {
  margin-left: 8px;
}
