@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #E5E5E5;
  font-family: 'IBM Plex Sans', sans-serif;
}
